<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.meituan.servlet.HelloWorld</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>helform</servlet-name>
        <servlet-class>com.meituan.servlet.HelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notload</servlet-name>
        <servlet-class>com.meituan.servlet.NotLoadOnStartup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>helform</servlet-name>
        <url-pattern>/testdir/HelloForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notload</servlet-name>
        <url-pattern>/notload</url-pattern>
    </servlet-mapping>
</web-app>